{% extends "layouts/base.twig" %}

{% block content %}
	<div class="grid-x grid-margin-x">
		<div class="cell medium-9">
			<img src="{{ image.src }}" alt="">
		</div>
		<div class="cell medium-3">
		
		</div>
	</div>
{% endblock %}